<p style="color: green"><%= notice %></p>

<h1>Tweets</h1>

<%= render "form", tweet: @tweet %>

<div id="tweets">
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
    <p>
      <%= link_to "Ver", tweet, class: "btn btn-primary" %>
      <%= link_to "Editar", edit_tweet_path(tweet), class: "btn btn-primary" %>
      <%= link_to "Borrar", tweet, method: :delete, data: { confirm: "Deseas borrar este tweet?"}, class: "btn btn-danger" %>
    </p>
  <% end %>
</div>
