<p style="color: green"><%= notice %></p>
<h1>Tweets</h1>
<div class="buscador">
  <%= form_with url: tweets_path, method: :get do |form|%>
    <%= form.text_field :buscar, placeholder: "Buscar Tweet", value: params[:buscar]%>
  <%end%>
</div>
<%= render "form", tweet: @tweet %>
<div id="tweets">
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
    <p>
    </p>
  <% end %>
</div>
<%= raw pagy_bootstrap_nav(@pagy) %>
